.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

#main_wrapper {
    margin: 0 0 30px 0;
}

.order-machine {
    clear: both;
    padding: 0 10px 10px 10px;
    border: 1px solid #eee;
    border-bottom: none;
    position:relative;
}

.machine-control {
    padding: 5px 10px 5px 10px;
    border: 1px solid #eee;
    background-color: #edf3fe;
    background: #f8f8f8;
    height: 55px;
}

.inline-related {
    border: 1px solid #eee;
    border-bottom-color: #fff;  /* No double border — .form-row already adds one */
    margin-top: 10px;
    overflow: hidden;
}

.inline-related h3 {
    cursor: move;
}

.inline-related fieldset {
    /* Animate out of view REAL FAST */
    transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
    max-height: 2000px;
}

.inline-related.for-deletion fieldset {
    max-height: 0;
}

/* Replace the broken content type counter for new contents with a "new" label */
.last-related .inline_label {
    color: #f8f8f8;
}
.last-related .inline_label:before {
    color: #666;
    content: 'new';
}

.tabs>div {
    float:left;
    padding: 8px 10px;
    cursor:pointer;
    margin-top:3px;
    font-weight: bold;
    font-size: 11px;
    color: #666;
    background: #f6f6f6;
    border: 1px solid #eee;
    text-transform: uppercase;
}

.tabs>.active {
    background: #79aec8;
    color: white;
    border-color: #79aec8;
}

.placeholder {
    height: 34px;
    margin: 10px 0 0 0;
    border: none;
    opacity: 0.3;
    background: #79aec8;
}






.item-controls {
    position: absolute;
    top: 5px;
    right: 32px;
}

.item-control-unit {
    float:left;
}

.item-controls select {
    margin-left: 7px;
    height: 24px;
}


.machine-control .button {
    padding-top: 6px;
    padding-bottom: 6px;
}

.control-unit {
    float:left;
    padding: 0 20px 0 5px;
    border-left: 1px solid #eee;
}

.control-unit:first-child {
    border-left: none;
}

.control-unit span {
    font-weight:bold;
}

a.actionbutton {
    display: block;
    background-repeat: no-repeat;
    width:50px;
    height:50px;
    float:left;
    margin: 5px 0 0 20px;
    text-indent:-7000px;
}

a.richtextcontent { background: url(img/plugins.png) no-repeat 0 0; }
a.richtextcontent:hover { background-position: 0 -70px; }

a.imagecontent { background: url(img/plugins.png) no-repeat -70px 0; }
a.imagecontent:hover { background-position: -70px -70px; }

a.gallerycontent { background: url(img/plugins.png) no-repeat -140px 0; }
a.gallerycontent:hover { background-position: -140px -70px; }

a.oembedcontent { background: url(img/plugins.png) no-repeat -280px 0; }
a.oembedcontent:hover { background-position: -280px -70px; }

a.pdfcontent { background: url(img/plugins.png) no-repeat -210px 0; }
a.pdfcontent:hover { background-position: -210px -70px; }

a.audiocontent { background: url(img/plugins.png) no-repeat -350px 0; }
a.audiocontent:hover { background-position: -350px -70px; }

.control-unit select {
    float: left;
    position: relative;
    top: 13px;
}

.empty-machine-msg {
    margin:10px 0px 20px 20px;
    font-size:14px;
}


.change-template-button {
    margin-left: 7em;
    padding-left: 30px;
}
