{% extends "admin/change_form.html" %}
{% load i18n admin_modify feincms_admin_tags staticfiles %}

{% block extrahead %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'feincms/item_editor.css' %}">
<script type="text/javascript" src="{% static 'feincms/jquery-ui-1.11.4.custom.min.js' %}"></script>
<script id="item-editor-script"
        type="text/javascript"
        src="{% static 'feincms/item_editor.js' %}"
        data-context="{{ item_editor_context }}"></script>
<script type="text/javascript">


django.jQuery(function($) {
    $("h2:contains('{{ FEINCMS_CONTENT_FIELDSET_NAME }}')").parent().replaceWith($("#main_wrapper"));

    var inlines = $('.feincms_inline .inline-related').detach();
    inlines.sort(function inlinesCompareFunction(a, b) {
        var aOrdering = $(a).find('.field-ordering input').val() || 1e9;
        var bOrdering = $(b).find('.field-ordering input').val() || 1e9;
        return Math.sign(aOrdering - bOrdering);
    });
    $('.order-machine').append(inlines);

    $('.order-machine .inline-related').not('.empty-form').each(function assignRegionDataAttribute() {
        var $this = $(this),
            region = $this.find('.field-region input').val();

        // Have to use attr() here because we want the data attribute to
        // be visible to selectors.
        $this.attr('data-region', region);
    });

    function moveEmptyFormsToEnd() {
        $('.order-machine').append(
            $('.order-machine .empty-form').detach()
        );
    }
    moveEmptyFormsToEnd();

    $(document).on('formset:added', function newForm(event, row, optionsPrefix) {
        moveEmptyFormsToEnd();
        row.find('.field-region input').val('main');  // TODO Current region.
    });


    $('.order-machine').sortable({
        handle: 'h3'
    });
    $('.order-machine').on('click', '.delete>input[type=checkbox]', function() {
        $(this).closest('.inline-related')[this.checked ? 'addClass' : 'removeClass']('for-deletion');
    });

    $('form').submit(function(){
        $('.field-ordering input').each(function assignOrdering(index) {
            this.value = index;
        });

        var form = $(this);
        form.attr('action', form.attr('action') + window.location.hash);
        return true;
    });
});

/*
type: content type identifier (required)
cssclass: quickbutton CSS class
raw_id_picker: URL of raw_id_fields picker which should be automatically opened
after: callback, receives new fieldset as argument
*/
{% url "admin:medialibrary_mediafile_changelist" as media_library_url %}
var PLUGIN_BUTTONS = [
    {
        type: 'richtextcontent'
    }, {
        type: 'imagecontent'
    }, {
        type: 'filecontent',
        cssclass: 'pdfcontent'
    }, {
        type: 'filerimagecontent',
        cssclass: 'imagecontent'
    }, {
        type: 'filerfilecontent',
        cssclass: 'pdfcontent'
    }, {
        type: 'videocontent',
        cssclass: 'oembedcontent'
{% if media_library_url %}
    }, {
        type: 'mediafilecontent',
        cssclass: 'imagecontent',
        raw_id_picker: '{{ media_library_url }}?type__exact=image&_popup=1'
    }, {
        type: 'gallerycontent'
    }, {
        type: 'mediafilecontent',
        cssclass: 'pdfcontent',
        raw_id_picker: '{{ media_library_url }}?type__exact=pdf&_popup=1'
{% endif %}
    }, {
        type: 'oembedcontent'
{% if media_library_url %}
    }, {
        type: 'mediafilecontent',
        cssclass: 'audiocontent',
        raw_id_picker: '{{ media_library_url }}?type__exact=audio&_popup=1'
{% endif %}
    }
];
</script>

<script type="text/javascript">
    IMG_DELETELINK_PATH = "{% static 'feincms/img/icon_deletelink.gif' %}";

    /* TODO Use events instead */
    var contentblock_init_handlers = [];
    var contentblock_move_handlers = {poorify: [
            function(item) {item.find('.item-content').hide();},
            function(item) {item.find('input[type=radio][checked]').addClass('radiochecked');}
        ], richify: [
            function(item) {item.find('.item-content').show();},
            function(item) {item.find('input.radiochecked').removeClass('radiochecked').trigger('click');}
        ]};

    var template_regions = {
            {% for template in available_templates.values %}'{{ template.name }}': [{% for region in template.regions %}'{{ region.name }}'{% if not forloop.last %}, {% endif %}{% endfor %}]{% if not forloop.last %},{% endif %}
            {% endfor %}
    };
</script>
{% endblock %}

{% block after_related_objects %} {# as good a place as any... #}
  {{ block.super }}
  <div id="content-editor-fieldset" style="display: none">
    <div id="main_wrapper">
        <div class="tabs clearfix">
            {% for region in original.template.regions %}
                <div class="navi_tab" id="{{ region.name }}_tab">{{ region.title }}</div>
            {% endfor %}
        </div>
        <div class="panel">
            {% comment %}<!--
            <div class="empty-machine-msg">
                {% if adding_translation and forloop.first %}
                    <div>
                        <p>
                            <input type="checkbox" name="_copy_content_from_original" id="_copy_content_from_original" checked="checked" /> <label for="_copy_content_from_original">{% trans "Copy content from the original" %} ("{{ translation_of }}", {% trans translation_of.get_language_display %})</label>
                        </p>
                    </div>
                {% else %}
                    {% trans "Region empty" %}
                {% endif %}
            </div>
            <div class="empty-machine-msg" style="margin-left:20px; margin-top:20px;">
                {% if region.inherited %}
                    {% trans "Content from the parent site is automatically inherited. To override this behaviour, add some content." %}
                {% endif %}
            </div>
            -->{% endcomment %}

            <div class="order-machine"></div>

            <div class="machine-control">
                <div class="control-unit">
                    {# % show_plugin_selection_widget region % #}
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
